
// Theme
$primary: #3f3d56;
$primary-light: #cfe0ddff;
$primary-light-200: #b4c4c1;
$accent: #59c1a7;
$red: #ce5257;
$white: #ffffff;
$dark: #2a2a2a;

$border-edit: rgba(63, 61, 86, 0.24);
$border-hover: rgba(89, 193, 167, 0.28);
$border-error: rgba(206, 82, 87, 0.32);

$bg-default: rgba(0, 0, 0, 0.15);
$bg-text-edit: rgba(90, 87, 120, 0.09);
$bg-text-hover: rgba(89, 193, 167, 0.15);
$bg-text-error: rgba(206, 82, 87, 0.19);
